.content-container {
    padding: 15px; 
    background-color: #1d1c1c;
    max-width: 100%; /* 화면에 맞게 100% 크기로 조정 */
    margin: 10px 0; /* 양쪽 여백을 줄이고, 상하 여백만 추가 */
  }
  
  .content-heading {
    font-size: 24px;
    font-weight: bold;
    color: #329967;
    margin-bottom: 20px;
    text-align: center;
  }
  
  .content-item {
    padding: 15px 10px 5px 5px;
    margin-bottom: 5px;
  }
  
  /* 드롭다운 본문 */
  .content-body {
    margin-top: 10px;
    font-size: 18px;
    color: #adadad;
    padding: 0 10px; /* padding 0으로 설정 */
    border-radius: 4px;
    line-height: 1.7;
    box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.1);
    max-height: 0; /* 기본적으로 본문은 숨김 */
    overflow: hidden; /* 넘치는 내용 숨기기 */
    opacity: 0; /* 완전히 숨기기 */
    transition: max-height 0.3s ease, padding 0.3s ease, opacity 0.3s ease; /* 부드럽게 펼쳐지고 접히도록 애니메이션 추가 */
  }
  
  .content-body.active {
    max-height: 1700px; /* 본문이 펼쳐질 때 */
    padding: 10px; /* 본문이 펼쳐질 때 여백 */
    opacity: 1; /* 본문이 완전히 보이도록 설정 */
  }